/*glava*/
.header li {
    display: inline;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    background: rgb(180, 188, 147);
}
body{
    background-color: rgb(73, 104, 75);
}
.logo{
    float: left;
    
    margin-right: 50%;
    height: 50px;
}
.header a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
}

a:hover {
    color: black;
}

.header label {
    margin-right: auto;
}

/*stran*/
div {
    background: gray;
    margin-bottom: 20px;
}
/*SELEKTOR - gore, prijatelji, itd*/
.selector {
    display: grid;
    grid-template-columns: auto auto auto;
}

.selector a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
}

.selector a:hover {
    color: black;
}

.selector > div {
    margin-bottom: 1px;
}

.selector img {
    width: 20em;
    height: auto;
}

.selector a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
}
/* /SELEKTOR */

.obvestilo {
    color: white;
    text-align: center;
    font-size: large;
    padding: 5px;
}

/* Iskanje Držav*/
.dropdown {
    width: 300px;
    margin: 20px;
}

#countrySearch {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#countryDropdown {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
