<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/settings.css">
    <title>Profil</title>
</head>
<body>
    <div class="register">
        
        <div class="left">
           <ul class="selector">
                <li><a href="/">◀️</a></li>
                <li><a href="/set/profile/">Profil</a></li>
                <li><a href="/set/privacy/">Zasebnost</a></li>
                <li><a href="/set/del/" class="active">Izbris računa</a></li>
                
            </ul>        
        </div>
        
        <div class="right">
            <h1>Ali res želite izbrisati svoj račun?</h1>
            <button class="important" type="button" onclick=location.href="/set/del/yes">DA, IZBRIŠI MOJ RAČUN</button> 
        </div>
    </div>
</body>
</html>