<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data["mount"]}} - GremoGor</title>
    <link rel="stylesheet" href="../static/css/gora.css">
</head>
<body>
    <div class="container">
        <div class="left"><h1>{{data["mount"]}}</h1><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Triglav_-_winter.jpg/270px-Triglav_-_winter.jpg"></div>
        <div class="right"><h1>Podatki: </h1><br>višina: {{data["height"]}}<br>Kordinate: {{location}}<br>Težavnost: TEŽAVNOST<br>Predviden čas hoje: ČAS</div>
    </div>
</body>
</html>