<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GremoGor</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="header">
        <img src="static/logo.png" class="logo">
        <ol>
            <li>
                <form method="POST" action="/search">
                    <input type="text" id="search" name="search">
                    <input type="submit" value="Išči">
                </form> 
            </li>
            <li><a href="#">chat</a></li>
            <li><a href="#" id="countryLink">Država:</a></li>
            
            
            {% if user == "none" %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% else %}
                <li><a href="/profile">{{user}}</a></li> <!--Naredi profilno stran--> 
                <li><a href="/logout">Logout</a></li>
            {% endif %}
        </ol>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        });
        
        function showPosition(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
        
            
            fetch(`https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}`)
                .then(response => response.json())
                .then(data => {
                    const country = data.address.country;
                    const countryLink = document.getElementById('countryLink');
                    countryLink.textContent = `Država: ${country}`;
                    countryLink.href = `#${country}`;
                })
                .catch(error => {
                    console.error("Error fetching country data:", error);
                });
        }
        
        function showError(error) {
            console.error("Error getting location:", error);
        }
        </script>
    <div class="selector">
        <div><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Triglav_-_winter.jpg/270px-Triglav_-_winter.jpg"><br>*Ime Gore*</a></div>
        <div><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Triglav_-_winter.jpg/270px-Triglav_-_winter.jpg"><br>*Ime Gore*</a></div>
        <div><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Triglav_-_winter.jpg/270px-Triglav_-_winter.jpg"><br>*Ime Gore*</a></div>
    </div>
    <div class="selector">
        <div><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Triglav_-_winter.jpg/270px-Triglav_-_winter.jpg"><br>*Ime prijatelja*</a></div>
        <div><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Triglav_-_winter.jpg/270px-Triglav_-_winter.jpg"><br>*Ime prijatelja*</a></div>
        <div><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Triglav_-_winter.jpg/270px-Triglav_-_winter.jpg"><br>*Ime prijatelja*</a></div>
    </div>
    <div class="selector">
        <div><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Triglav_-_winter.jpg/270px-Triglav_-_winter.jpg"><br>*Ime dosežene gore*</a></div>
        <div><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Triglav_-_winter.jpg/270px-Triglav_-_winter.jpg"><br>*Ime dosežene gore*</a></div>
        <div><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Triglav_-_winter.jpg/270px-Triglav_-_winter.jpg"><br>*Ime dosežene gore*</a></div>
    </div>
</body>
</html>
