<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GremoGor</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
        <form method="POST" action="/login">
    <div class="register">
            <div class="left">
                <h1>Prijava:</h1>
                

                  

                <div>
                    Email: <input id="email" name="email" type="text" placeholder="Peter123">
                </div>
                <div>
                    Geslo:<input id="Geslo" name="geslo" type="password" placeholder="*************">
                </div>
                
                <br>
                

                    <div>
                        <input type="submit" value="Prijava">
                    </div>
                
                    
                
                    
                    
                    
            </div>
        </form>       
    <div class="right">
        <!-- slika(logo) -->
        <img src="../static/logo.png" alt="logo">
    </div>
        
            


    </div>

</body>
</html>