<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GremoGor</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    
    <div class="register">
            <div class="left">
                <h1>Prijava:</h1>
                

                  

                <div>
                    Uporabniško ime/Email: <input id="email"type="text" placeholder="Peter123">
                </div>
                
                
                <br>
                

                    <div>
                        <input type="button" value="Prijava">
                    </div>
                

                
                    
                    
                    
            </div>
            
    <div class="right">
        <!-- slika(logo) -->
        <img src="../static/logo.png" alt="logo">
    </div>
        
            


    </div>

</body>
</html>