<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GremoGor</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    
    <div class="register">
            <div class="left">
                <h1>Registracija:</h1>
                <div class="imepriimek">
                    <div>Ime: <input type="text" placeholder="Peter"></div>
                    <div>Priimek: <input type="text" placeholder="Planinec"></div>
                </div>

                <div>
                    Email: <input id="email" type="text" placeholder="Planinec-Peter@gmail.com">
                </div>  

                <div>
                    Uporabniško ime: <input id="email"type="text" placeholder="Peter123">
                </div>
                
                <div>
                    Geslo: <input id=password type="password" placeholder="Peter123">
                </div>
                <br>
                

                <div class =registracija-login>
                    <div>
                        <input type="button" value="Registriraj"> 
                    </div>
                    <div>
                        <input type="button" value="Prijava">
                    </div>
                </div>

                
                    
                    
                    
            </div>
            
    <div class="right">
        <!-- slika(logo) -->
        <img src="../static/logo.png" alt="logo">
    </div>
        
            


    </div>

</body>
</html>
