<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GremoGor</title>
    <link rel="stylesheet" href="../static/css/register-css.css">
</head>
<body>
    
    <div class="register">
            <div class="left">
                <h1>Registracija:</h1>
                <div class="imepriimek">
                    <div>Ime: <input type="text"></div>
                    <div>Priimek: <input type="text"></div>
                </div>

                <div>
                    Email: <input id="email" type="text">
                </div>  
                
                    
                    
                    
                    
            </div>
            
    <div class="right">

    </div>
        
            


    </div>

</body>
</html>
