<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GremoGor</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <div class="register">
        <div class="left">
            <h1>Registracija:</h1>
            <!-- Fix the form tag with method="POST" and action to your Flask route -->
            <form method="POST" action="/register">
                <div class="imepriimek">
                    <div>Ime: <input type="text" name="ime" placeholder="Peter" required></div>
                    <div>Priimek: <input type="text" name="priimek" placeholder="Planinec" required></div>
                </div>

                <div>
                    Email: <input id="email" name="email" type="email" placeholder="Planinec-Peter@gmail.com" required>
                </div>  

                <div>
                    Uporabniško ime: <input id="username" name="username" type="text" placeholder="Peter123" required>
                </div>
                
                <div>
                    Geslo: <input id="password" name="password" type="password" placeholder="*********" required>
                </div>
                <br>
                <div class="registracija-login">
                    <div>
                       <input type="submit" value="Registriraj">
                    </div>
                </div>
            </form>
            <div>
                Sem že registriran - 
                <a href="../templates/Login.html"><input type="button" value="Prijava"></a>
            </div>
        </div>

        <div class="right">
            <!-- slika(logo) -->
            <img src="../static/logo.png" alt="logo">
        </div>
    </div>
</body>
</html>
